.encabezado{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background: #394070;
}

.menu{
    line-height: 80px;
}

.menu a{
    font-size: 20px;
    color: whitesmoke;
    margin-right: 16px;
    text-decoration: none;
}

